<div class="card">
	<div class="row">
		<div class="col l12 s12 m12">
			<div class="col l3 m4 s12">
				<a href="#/clientes">
					<div class="card grey darken-3 z-depth-2">
						<div class="card-content white-text center-align">
							<i class="material-icons large">people</i> <br>
							<span class="card-title">CLIENTES</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col l3 m4 s12">
				<a href="#/veiculos">
					<div class="card grey darken-3 z-depth-2">
						<div class="card-content white-text center-align">
							<i class="material-icons large">directions_car</i> <br>
							<span class="card-title">VEICULOS</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col l3 m4 s12">
				<a href="#/graficos">
					<div class="card grey darken-3 z-depth-2">
						<div class="card-content white-text center-align">
						<i class="material-icons large">insert_chart</i> <br>
							<span class="card-title">GRÁFICOS</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col l3 m4 s12">
				<a href="#/relatorios">
					<div class="card grey darken-3 z-depth-2">
						<div class="card-content white-text center-align">
						<i class="material-icons large">assignment</i><br>
							<span class="card-title">RELATÓRIO</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>