<nav class="nav-wrapper grey darken-3">
	<div class="container">
		<a href="admin.php" class="brand-logo left">PARKING</a>
		<a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-mid-and-down">
		 	<li><a href="#/admin"><i class="material-icons left">home</i>Início</a></li>
			<li><a href="#/clientes"><i class="material-icons left small">people</i><span>Clientes</span></a></li>
			<li><a href="#/veiculos"><i class="material-icons left">directions_car</i>Veiculos</a></li>
			<li><a href="#/graficos">Graficos<i class="material-icons left">insert_chart</i></a></li>
			<li><a href="#/relatorio">Relatório<i class="material-icons left">assignment</i></a></li>
		</ul>
		<ul id="nav-mobile" class="side-nav">
		 	<li><a href="#/admin"><i class="material-icons left">home</i>Início</a></li>
			<li><a href="#/clientes"><i class="material-icons left small">people</i><span>Clientes</span></a></li>
			<li><a href="#/veiculos"><i class="material-icons left">directions_car</i>Veiculos</a></li>
			<li><a href="#/graficos">Graficos<i class="material-icons left">insert_chart</i></a></li>
			<li><a href="#/relatorio">Relatório<i class="material-icons left">assignment</i></a></li>
		</ul>
	</div>
</nav>