<div class="card">
	<div class="row">
		<div class="col l12 s12 center-align">
			<h3>Veículos</h3>
		</div>
	</div>
	<div class="row">
		<div class="col l12 s12">
			<div class="col l12 s12">
				<table class="hoverable centered responsive-table">
					<thead>
						<tr>
							<th data-field="nome">Cliente</th>
							<th data-field="tipo">Tipo</th>
							<th data-field="placa">Placa</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="veiculo in veiculos">
							<td>{{veiculo.nome}}</td>
							<td>{{veiculo.tipo}}</td>
							<td>{{veiculo.placa}}</td>
							<td class="">
								<a class="tooltipped" data-position="top" data-delay="500" data-tooltip="Alterar" href="">
									<i class="small material-icons grey-text text-darken-3">loop</i>
								</a>
							</td>
							<td>
								<a class="tooltipped" data-position="top" data-delay="500" data-tooltip="Excluir" href="">
									<i class="small material-icons grey-text text-darken-3">delete</i>
								</a>
							</td>
						</tr>'
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l12 s12 m12">
			<a href="cadastraVeiculo.php" class="btn white-text right light-blue darken-3" style="margin: 10px 10px">Cadastrar <i class="material-icons right">add</i></a>
		</div>
	</div>
</div>